.navbar{
  background-color:green;
}
.card{
  width: 20em;
}
#root{
  padding: 1.5rem;
}
.card-block{
  h4{
    display:inline;
  }
  h5{
    display:inline;
    float:right;
  }
}
.graph{
  margin-bottom: -40px;
}
