.navbar{
  background-color:green;
}
.card{
  &.red{
    color:white;
    border-color:black;
    .c3 .c3-axis-x path, .c3 .c3-axis-x line {
      stroke: white;
    }
    .c3 .c3-axis-y path, .c3 .c3-axis-y line {
      stroke: white;
    }
    tspan {
      stroke: white;
    }
    /*background-color: #d9534f;*/
    background-color:red;
  }
  background-color:white;
  width: 20em;
}
#root{
  padding: 1.5rem;
}
html, body, #root{
  background-color:lightgray!important;
}
.card-block{
  h4{
    display:inline;
  }
  h5{
    display:inline;
    float:right;
  }
}
.graph{
  margin-bottom: -40px;
}
